<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.exaud.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb639945829382946</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FacebookAppID</key>
	<string>639945829382946</string>
	<key>GPPAppKey</key>
	<string>1093738062679.apps.googleusercontent.com</string>
	<key>LNAppKey</key>
	<string>vu98vy9inc9v</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>ODKAppKey</key>
	<string>200684288</string>
	<key>ODKRedirectUri</key>
	<string>http://localhost/test</string>
	<key>TWAppKey</key>
	<string>ULV2C5RlnEJbdWxBocKrCA</string>
	<key>TWSecretAppKey</key>
	<string>JEZtVpU3frlK3TKm01c2cqUb1RYBvVgv3K7XruBBQM</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>VKAppKey</key>
	<string>2710327</string>
	<key>VKRedirectUri</key>
	<string>https://oauth.vk.com/blank.html</string>
	<key>ODKSecretKey</key>
	<string>B10AC1CCBA826E92E0A31058</string>
	<key>GPPSecretKey</key>
	<string>unDioQ3EP4KkcTDSCHeTmOIh</string>
	<key>LNSecretKey</key>
	<string>piDtrCJMSGCX0jgp</string>
</dict>
</plist>
